* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#denah td:nth-child(2),
#denah td:nth-child(3),
#denah td:nth-child(4),
#denah td:nth-child(5),
#denah td:nth-child(6),
#denah td:nth-child(7) {
  text-align: center;
}
#denah td:nth-child(2):hover,
#denah td:nth-child(3):hover,
#denah td:nth-child(4):hover,
#denah td:nth-child(5):hover,
#denah td:nth-child(6):hover,
#denah td:nth-child(7):hover {
  cursor: pointer;
}
table,
th,
tr,
td {
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
}
td {
  width: 2em;
}
.container th,
.container td {
  width: 10em;
}
.container td {
  font-weight: normal;
}
.abu2 {
  background-color: rgb(196, 196, 196);
}
.ijo {
  background-color: rgb(95, 255, 62);
}
.biru {
  background-color: rgb(21, 21, 255);
}
.sembunyi {
  display: none;
}
.muncul {
  display: block;
}
button {
  cursor: pointer;
}
.layar {
  border: 1px solid black;
  padding: 0.3em 5em;
  position: relative;
  left: 1em;
}
.ket {
  word-spacing: 1em;
  display: flex;
  width: 250px;
  justify-content: space-between;
  position: relative;
  left: 7px;
}
.ket .tersedia::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(196, 196, 196);
  position: absolute;
  top: 1px;
  left: -19px;
}
.ket .dipilih::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(95, 255, 62);
  position: absolute;
  top: 1px;
  left: 82px;
}
.ket .dipesan::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(21, 21, 255);
  position: absolute;
  top: 1px;
  left: 167.5px;
}
.diri {
  position: absolute;
  top: 1em;
  left: 0;
}
details {
  position: absolute;
  top: 5em;
  left: 3em;
  text-align: justify;
}
summary {
  cursor: pointer;
}
details .sumari {
  width: 350px;
}
.logo {
  position: absolute;
  top: 1em;
  right: 1em;
}
